body.dark {
  background: rgba(12,12,12, 1);
  color: white;
}

body.dark header, body.dark article, body.dark footer {
  background: rgba(255,255,255, 0.05);
  padding: 2rem;
  border-radius: 20px;
  border: none;
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(0,0,0, 0.5);
}