:root {
  --duration: 0.5s;
}

* {
  padding: 0;
  margin: 0;
  height: fit-content;
}

body {
  font-family: 'Inter', 'Arial', Courier, monospace;
  font-size: 24px;
  font-weight: 400;
  margin: auto;
  max-width: 68vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header, footer {
  padding: 1rem 0;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 2px gray;
  gap: 2rem;
}


/* dark/light theme toggle */
div.toggle-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

p.light-label {
  color: #d5d4d8;
}
body.dark p.light-label {
  color: white;
}

p.dark-label {
  color: #2b283a;
}
body.dark p.dark-label {
  color: #918e9b;
}


label.switch {
  position: relative;
  width: 3rem;
  height: 1rem;
  padding: 0.25rem;
  display: inline-block;
}
label.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

span.slider {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #2b283a;
  border-radius: 34px;
}
span.slider::before {
  content: "";
  position: absolute;
  left: 0.25rem;
  bottom: 0.25rem;
  width: 1rem;
  height: 1rem;
  background-color: white;
  -webkit-transition: var(--duration);
  transition: var(--duration);
  border-radius: 50%;
}
input:checked + span.slider {
  background-color: #f5f5f5;
}
label.switch > input:checked + span.slider::before {
  background-color: #2b283a;
  -webkit-transform: translateX(2rem);
  -ms-transform: translateX(2rem);
  transform: translateX(2rem);
}
/* end dark/light theme toggle */

h1, h2 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

article {
  margin: 2rem 0;
}
article h2 {
  margin: 0.5rem 0;
}
article h3, article h4 {
  margin: 0.25rem 0;
  position: relative;
}

article.education {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: fit-content fit-content;
}
article.education h2 {
  grid-column: 1 / 3;
  grid-row: 1;
}

.date {
  color: gray;
  font-size: 1.25rem;
  font-weight: lighter;
}
span.date {
  position: block;
}

li {
  margin-left: 1.5rem;
}

a, a:visited {
  color: blue;
  text-decoration: none;
}
a:hover {
  color: blueviolet;
  text-decoration: underline;
}


article.related-experience section {
  display: grid;
  margin-bottom: 1rem;
  grid-template-areas: 'title date', 'desc desc', 'link link'
}
article.related-experience section h3 {
  grid-area: 'title';
}

footer {
  border-top: solid 2px gray;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 1400px) {
  body {
    max-width: 90vw;
  }

  strong.date {
    display: block;
  }

  span.date {
    position: relative;
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  body {
    max-width: 98vw;
    margin: 1vw;
  }

  span.date {
    font-size: 0.75rem;
  }
}